
.header {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url("images/image1.webp");
}

.categories {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: hold;
    color: white;
}

#banner1 {
    background-color: mediumspringgreen;
}

#banner2 {
    background-color: lightcoral;
}

#banner3 {
    background-color: skyblue;
}

.items {
    font-family: Helvetica;
}

.descriptions {
    font-family: Helvetica;
}

.pricing {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}